<%- include('../partials/header.ejs') %>

  <p>CREATE YOUR CHARACTERS <%= title %>
  </p>

  <div id="createArea">
    <% characters.forEach(char=> { %>
      <div>
        <h2><%- char.name %></h2>
        <p><%- char.race %> <%- char.charClass %></p>
      </div>
      <% }) %>
        <a class="charBtn" href="characters/new">+</a>
  </div>



  <%- include('../partials/footer.ejs') %>